
html {
  background-color: lightblue;
}

header {
  text-align: center;
  color: black;
  padding: 5%;
  background-color: pink;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  text-decoration: none;
}

section {
  padding: 2%;
  max-width: 800px;
  margin: 2% auto;
  background-color: yellow;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #1C3144;
  width: 25%;
  padding: 1%;
  text-align: center;
}
