
body {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  margin: 6em;
  font-weight: bold;
  background-color: pink;
  border: 2px solid rgb(175, 175, 175);
  border-color: white;
  p.solid {
    outline-style: solid;
  }
}

header {
  text-align: center;
  color: #395e64;
  padding: 5%;
  background-color: #1C3144;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li {
  float: left;
  margin-right: 10px;
}

li:last-of-type {
  margin-right: 0;
}

a {
  display: block;
  width: 6em;
  margin: 0 5px;
  padding: .5em 1em;
  text-decoration: none;
  text-align: horizontal;
  color: pink;
  background-color: yellow;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 6px;
  /* Start Transition declarations */
  text-shadow: #666 .1em .1em .1em;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: background-color 2.2s, border-color 0.2s, top 0.2s, box-shadow 0.2s;
}

nav {
  text-align: horizontal;
}

nav ul {
  list-style: none;
  padding: 10px;
  border: 1px solid #000;
  background-color: #ffffff;
  color: #fff;
  display: flex; /* Make the list items flex containers */
}

nav li {
  margin-right: 20px;
  border: 1px solid #fff;
}

a {
  text-align: horizontal
  display: block;
  text-decoration: none;
  color: pink;
  background-color: lightblue;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 6px;
  padding: .5em 1em;
  transition: background-color 2.2s, border-color 0.2s, top 0.2s, box-shadow 0.2s;
}

/* transition end states */
a:hover,
a:focus {
  background-color: white;
  border-color: pink;
}

a:active {
  top: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* transition end states */
a:hover,
a:focus {
  background-color: none;
  border-color: pink;
}

a:active {
  top: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
