
Body {
     font-family: Tahoma, Verdana, Geneva, sans-serif;
     margin: 6em;
     font-weight: bold;
     } 
ul {
    list-style-type:none;
    margin: 0;
    padding:0
    }
li {
   float: left
   }
a {
   display: block;
   width: 6em;
   margin: 0 5px;
   padding:  .5em 1em;
   text-decoration: none;
   text-align:center;
   color: #fff
   background-color: rgb (190,190,190);
   border: 2px solid rpg (175, 175, 175)
   }   
